
code {
    font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
    color: #E74C3C;
    background: #fff;
    font-size: 75%;
    border-radius: 0;
    padding: 2px 4px;
    border: solid 1px #e1e4e5;
}

button, a {
    color: #31AA77;
    cursor: pointer;
    word-break: break-all;
    display: inline-block;
}

    button:hover, button:focus, a:hover, a:focus {
        color: #31AA77;
        text-decoration: none;
    }

    a:active, a:hover {
        outline: 0;
    }

pre {
    margin-bottom: 0;
}

p {
    line-height: 1.75;
}
h1:before, h2:before, h3:before, h4:before {
    content: '';
    display: block;
    position: relative;
    width: 0;
    height: 57px;
    margin-top: -57px;
}