html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Segoe UI,SegoeUI,Segoe WP,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif,PingFang SC,'Segoe UI',Tahoma, "Microsoft YaHei",arial, sans-serif;
}

.body-content {
    min-height: 100%;
    padding-bottom: 300px;
}

nav .logo {
    width: 80px;
}

.catalog {
    border-right: 1px solid rgba(0,0,0,.1);
    overflow: auto;
    position: sticky;
    height: calc(100vh - 61px);
    top: 61px;
}

    .catalog span::before {
        content: attr(data-attr);
        display: inline-block;
        width: 15px;
        margin-left: -15px;
        color: gray;
    }

.highlight {
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #f6f8fa;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.side-nav {
    border-left: 1px solid rgba(0,0,0,.1);
    overflow: auto;
    position: sticky;
    height: calc(100vh - 61px);
    top: 61px;
}

    .side-nav ul {
        list-style: none;
        padding: 0;
    }

.catalog > ul ul {
    display: none;
}

.catalog span {
    cursor: pointer;
}

.catalog ul {
    list-style: none;
}

.catalog > ul {
    padding: 0;
}

    .catalog > ul ul {
        padding: 0 10px;
    }

.catalog li, .side-nav li {
    list-style: none;
}

.catalog a, .catalog span {
    display: block;
    text-decoration: none;
    font-size: 14px;
    padding: 2px;
    border-radius: 3px;
    color: #333;
    background-color: #fff;
}

.side-nav a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 3px;
    color: #333;
    background-color: #fff;
}

    .catalog a:hover, .catalog span:hover, .side-nav a:hover {
        font-size: 14px;
        font-weight: bold;
        background-color: #f0f0f0;
    }

.side-nav-2 {
    padding-left: 5px;
}

.side-nav-3 {
    padding-left: 10px;
}

.side-nav-4 {
    padding-left: 15px;
}

.side-nav-5 {
    padding-left: 20px;
}

.side-nav-6 {
    padding-left: 25px;
}

footer {
    height: 300px;
    margin-top: -300px;
    background-color: #333;
    color: #ddd;
    font-size: 14px;
    overflow: hidden;
}

    footer ul {
        list-style: none;
        padding: 0;
        margin-left: -10px;
    }

    footer li {
        display: inline-block;
        list-style: none;
        padding-left: 10px;
        margin-left: -10px;
        margin-top: 10px;
    }

    footer a {
        text-decoration: none;
        color: #ddd;
    }

        footer a:hover {
            text-decoration: none;
            color: #fff;
        }

    footer li:before {
        content: "";
        display: inline-block;
        height: 10px;
        vertical-align: middle;
    }

    footer ul > :nth-child(n+2):before {
        margin-right: 10px;
        border-left: 1px solid #ddd;
    }

    footer .logo {
        width: 40px;
    }
