@font-face {
  font-family: 'NunitoSans';
  src: url('NunitoSans-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'NunitoSans';
  src: url('NunitoSans-Regular.ttf');
  font-weight: 400;
}
html {
  font-size: 16px;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  color: #222;
  background-color: #fff;
  font-family: NunitoSans, PingFang SC, "Microsoft YaHei", arial, sans-serif;
}
.container-fluid {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
a {
  text-decoration: none;
  background-color: transparent;
  color: #00AF92;
}
a:hover {
  text-decoration: underline;
  color: #00AF92;
}
.d-light {
  display: block;
}
.d-dark {
  display: none;
}
nav .navbar-brand {
  padding: 0;
}
nav.navbar {
  padding: 14px 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}
nav .navbar-toggler {
  padding: 12.4px;
}
nav .logo {
  width: 5.7rem;
}
nav .nav-item i {
  font-size: 16px;
}
.bg-left {
  background-color: #fff;
  width: 50%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: -1;
}
.navbar,
footer {
  background-color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  border-color: #d4d4d4;
}
.navbar-toggler i,
.navbar-toggler:focus i,
.navbar-toggler:active i {
  color: #003;
}
.navbar-nav .nav-link {
  color: #003;
  line-height: 2;
  padding-left: 1em !important;
  padding-right: 1em !important;
  font-weight: 700;
  font-style: normal;
  cursor: pointer;
}
.version-bar {
  padding: 21px 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
  margin-bottom: 1rem;
}
.version-bar a {
  color: #003;
  text-decoration: none;
  font-weight: 700;
}
.version-bar a.active {
  color: #00AF92;
}
#catalog_div {
  background-color: #fff;
}
.catalog {
  background-color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: sticky;
  top: 76px;
  max-height: calc(100vh - 77px);
  overflow-y: auto;
}
.catalog::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.catalog::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background: rgba(0, 0, 0, 0.15);
}
.catalog::-webkit-scrollbar-track {
  border-radius: 0.25rem;
  background: transparent;
}
@media (max-width: 768px) {
  .catalog {
    display: none;
  }
  .catalog.show {
    display: block !important;
    position: static;
    height: auto;
  }
}
.catalog nav a,
.catalog nav span {
  color: #222;
}
.catalog > nav > a,
.catalog > nav > span {
  color: #003;
  font-weight: 700;
}
.catalog .nav-pills .nav-link {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
}
.catalog i {
  margin-right: 0.3rem;
  margin-left: -0.6rem;
  transition: transform 0.5s;
  float: right;
  color: #d4d4d4;
  font-size: 16px;
  line-height: 1.5;
  position: absolute;
  right: 0;
  top: 5px;
  padding: 1px 11px;
  border-radius: 0.25rem;
  display: block;
  width: 30px;
  height: 25px;
}
.catalog i:hover {
  background-color: #fbfbfb;
  border: 1px solid #d4d4d4;
}
.catalog .expand i {
  transform: rotate(90deg);
}
.catalog a,
.catalog span {
  cursor: pointer;
  padding: 0.3rem 0 0.3rem 1rem;
}
.catalog > nav {
  margin-bottom: 3rem;
  margin-left: 0 !important;
}
.catalog > nav nav {
  display: none;
  overflow: hidden;
  max-width: 100%;
}
.catalog .nav-pills .show > .nav-link {
  color: #00AF92;
  background-color: transparent;
}
main {
  background-color: #fff;
  word-break: break-word;
  letter-spacing: 0.03em;
  min-height: calc(100vh - 116px);
}
main .img-fluid {
  background: #fff;
}
main h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  margin: 0 0 0.5em;
  padding: 0 0 0.6em;
  font-weight: 700;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}
main h2 {
  font-size: 2rem;
  line-height: 1.2;
  margin: 2em 0 0.2em;
  padding: 0 0 0.75rem;
  font-weight: 700;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}
main h3 {
  font-size: 1.5rem;
  line-height: 1.2;
  margin: 0.7em 0 0.3em;
  font-weight: 700;
}
main h4 {
  font-size: 1.25rem;
  line-height: 1.2;
  margin: 0.7em 0 0.4em;
  font-weight: 700;
}
main h5 {
  font-size: 1.25rem;
  line-height: 1.2;
  margin: 0.7em 0 0.5em;
  font-weight: 400;
}
main p,
main ul,
main ol {
  font-size: 1rem;
  line-height: 1.5;
  margin: 1.5em 0 1.5em;
  font-weight: 400;
}
main ul,
main ol {
  padding-left: 1.25rem;
}
main ol p,
main ul p,
main .bd-callout ul,
main .bd-callout ol,
main .bd-callout p {
  margin: 0.5em 0 0.5em;
}
main h1,
main h2,
main h3,
main h4,
main h5,
main h6,
main th {
  line-height: 2;
  pointer-events: none;
  color: #003;
}
main h1:before,
main h2:before,
main h3:before,
main h4:before,
main h5:before,
main h6:before,
main th:before {
  content: '';
  display: block;
  height: 4rem;
  margin-top: -4rem;
}
main a > code {
  color: inherit !important;
}
main p code {
  font-size: 1rem;
  color: #222;
  background-color: rgba(0, 0, 0, 0.07);
  padding: 1px 0.25rem;
  font-family: inherit;
  word-break: keep-all;
  border-radius: 0.25rem;
}
main figure code.hljs {
  max-height: 228px;
  overflow: scroll;
  padding: 36px 32px 0;
  border-radius: 0.25rem;
}
main figure code.hljs::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
main figure code.hljs::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background: rgba(0, 0, 0, 0.15);
}
main figure code.hljs::-webkit-scrollbar-track {
  border-radius: 0.25rem;
  background: transparent;
}
main figure {
  overflow: auto;
}
main table.table {
  color: #222;
}
main table.table thead th {
  background-color: transparent;
  border-bottom: none;
  border-top: none;
  min-width: 105px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}
main table.table td {
  vertical-align: middle;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}
main .div-collapse {
  display: none;
  border-radius: 0.25rem;
  margin-bottom: 1em;
  background-color: #fbfbfb;
}
main .div-collapse p:last-child {
  margin-bottom: 0;
}
main .bd-content-title {
  display: block;
  pointer-events: auto;
}
main .h2-collapse {
  cursor: pointer;
  font-weight: 400;
  font-size: 1rem;
}
main .h2-collapse span:first-child::before {
  content: "Q:";
  margin-right: 0.5em;
  display: inline;
  font-size: 1rem;
  color: #00AF92;
}
main .bd-callout {
  padding: 1rem 2rem 1rem 2.5rem;
  margin: 2.5rem 0 2.5rem;
  border: 1px solid #d4d4d4;
  border-left-width: 0.25rem;
  border-radius: 0.25rem;
  position: relative;
}
main .bd-callout img {
  position: absolute;
  top: 1.8rem;
  left: 1rem;
}
main .bd-callout-info {
  border-left-color: #1890FF;
}
main .bd-callout-warning {
  border-left-color: #FAAD14;
}
main .bd-callout-danger {
  border-left-color: #FF4D4F;
}
main .bd-callout dl,
main .bd-callout ol,
main .bd-callout ul {
  margin-bottom: 0;
}
main .btn-clipboard,
main .btn-showall {
  position: absolute;
  top: 0.5rem;
  z-index: 10;
  display: block;
  padding: 0.25rem 0.5rem;
  font-size: 75%;
  color: #818a91;
  background-color: #fff;
  border: 1px solid #d4d4d4;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 0.25rem;
}
main .btn-clipboard:hover,
main .btn-showall:hover {
  color: #fff;
  background-color: #003;
  border: 1px solid #003;
}
main .btn-clipboard {
  right: 1rem;
}
main .btn-showall {
  right: 4.5rem;
}
main .anchorjs-link {
  font-weight: 400;
  color: #00AF92;
  transition: color 0.15s ease-in-out, opacity 0.15s ease-in-out;
  opacity: 0;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  margin-left: 0.2em;
}
main .anchorjs-link:hover {
  text-decoration: none;
  color: #00AF92;
}
main :hover > .anchorjs-link,
main .anchorjs-link:focus {
  opacity: 1;
}
main [data-anchorjs-icon]::after {
  content: attr(data-anchorjs-icon);
}
main .highlight {
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
  padding: 0;
}
main .highlight pre {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-color: transparent;
  border: 1px solid #d4d4d4;
  border-radius: 0.25rem;
  font-size: 1rem;
}
.side-nav {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: sticky;
  top: 135px;
  border-left: 1px solid #d4d4d4;
  padding-left: 10px;
  margin-left: 10px;
}
.side-nav nav {
  width: 100%;
}
.side-nav .side-nav-text {
  margin-left: 10px;
}
.side-nav .nav-pills .nav-link {
  border-radius: 0;
}
.side-nav .contribution-link {
  margin: 0 0.5rem 1rem 0.7rem;
  border: 1px solid #003;
  padding: 5px 12px;
  color: #003;
  text-decoration: none;
  cursor: pointer;
  width: 156px;
  font-size: 14px;
  border-radius: 0.25rem;
}
.side-nav .contribution-link:hover {
  color: #fff;
  background-color: #003;
}
.side-nav .contribution-link:hover i {
  color: #fff;
}
.side-nav .contribution-link i {
  color: #003;
  margin-right: 6px;
}
.side-nav a:not(.contribution-link) {
  display: block;
  padding: 2px 10px;
  color: rgba(128, 128, 128, 0.8);
  font-size: 0.9rem;
  overflow-x: hidden;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  text-decoration: none;
}
.side-nav a:not(.contribution-link).active {
  color: #00AF92;
  background-color: transparent;
  /*            border-left: 3px solid @light-link;
            padding-left: 7px;*/
}
.catalog .nav-pills .active {
  color: #00AF92;
  background-color: rgba(128, 128, 128, 0.1);
  font-weight: 700;
}
.catalog .nav-pills .nav-link > a,
.catalog .nav-pills .nav-link > a.active {
  background-color: transparent;
  padding: 0;
  display: block;
}
.catalog a:hover,
.catalog span:hover,
.side-nav a:not(.contribution-link):hover {
  background: rgba(128, 128, 128, 0.1);
}
footer {
  border-top: 1px solid rgba(128, 128, 128, 0.2);
}
footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer ul > :nth-child(n+2):before {
  margin-right: 0.7rem;
  border-left: 1px solid #d4d4d4;
}
footer li {
  display: inline-block;
}
footer li:before {
  content: "";
  display: inline-block;
  height: 0.7rem;
  vertical-align: middle;
}
footer p {
  margin: 0;
}
footer a {
  color: #00AF92;
  text-decoration: none;
}
footer a:hover {
  color: #00AF92;
  text-decoration: none;
}
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #fbfbfb;
  color: black;
}
.hljs-comment,
.hljs-quote,
.hljs-variable {
  color: #008000;
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-built_in,
.hljs-name,
.hljs-tag {
  color: #00f;
}
.hljs-string,
.hljs-title,
.hljs-section,
.hljs-attribute,
.hljs-literal,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-addition {
  color: #a31515;
}
.hljs-deletion,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-meta {
  color: #2b91af;
}
.hljs-doctag {
  color: #808080;
}
.hljs-attr {
  color: #f00;
}
.hljs-symbol,
.hljs-bullet,
.hljs-link {
  color: #00b0e8;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name {
  font-weight: 400;
}
.hljs-title,
.hljs-section {
  font-weight: 400;
}
@media screen and (max-width: 380px) {
  @-ms-viewport {
    width: 380px;
  }
}
.search-bar {
  position: relative;
  padding: 6px 1rem;
  width: 240px;
}
.search-bar:hover .search-re,
.search-bar:hover .search-de {
  display: block;
}
.search-bar .emoji-search {
  position: absolute;
  left: 1.2rem;
  line-height: 2.3;
}
.search-bar .search-de {
  display: none;
  color: #003;
  position: absolute;
  right: 1rem;
  padding: 1px 8px;
  margin: 5px;
  cursor: pointer;
}
.search-bar .search-de:hover {
  color: #333;
}
.search-bar #sInput {
  width: 100%;
  font-size: 14px;
  padding-left: 1.8rem;
  border: 1px solid #d4d4d4;
  background: rgba(128, 128, 128, 0.05);
}
.search-bar #sInput:focus {
  box-shadow: 0 0 3px #d4d4d4;
  background: transparent;
  outline: none;
}
.search-bar #sInput:focus + .search-re {
  display: block;
}
.search-bar .search-re {
  position: absolute;
  max-height: 560px;
  width: 280px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  background: #fff;
  overflow-y: auto;
  display: none;
  z-index: 3;
  width: 100%;
  border-radius: 0.25rem;
}
.search-bar .search-re ul {
  padding-left: 0;
  background: #fff;
  margin-bottom: 0;
}
.search-bar .search-re ul > li {
  list-style: none;
}
.search-bar .search-re ul > li a {
  display: inline-block;
  width: 100%;
  padding-bottom: 6px;
  padding: 0 1rem;
}
.search-bar .search-re ul > li a:hover {
  background-color: #fff;
}
.search-bar .search-re ul > li strong {
  display: inline-block;
  padding-bottom: 0.75rem;
  margin: 0.75rem 0;
  font-size: 1.1rem;
  color: #003;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  vertical-align: bottom;
}
.search-bar .search-re ul > li span {
  display: inline-block;
  padding: 0 0 0.75rem;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.5;
  font-size: 14px;
  word-break: break-all;
}
.search-bar .search-re ul > li:first-child {
  border: none;
}
.search-bar .search-re::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.search-bar .search-re::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background: rgba(0, 0, 0, 0.15);
}
.search-bar .search-re::-webkit-scrollbar-track {
  border-radius: 0.25rem;
  background: transparent;
}
#prevPage,
#nextPage {
  width: 100%;
  position: relative;
  border: 1px solid #d4d4d4;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  background-color: #fff;
  border-radius: 0.25rem;
}
#prevPage i,
#nextPage i {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  color: #003;
}
#prevPage div,
#nextPage div {
  color: #d4d4d4;
  font-size: 10px;
}
#prevPage .prevText,
#nextPage .prevText,
#prevPage .nextText,
#nextPage .nextText {
  font-weight: 700;
  font-size: 14px;
  color: #003;
}
#prevPage:hover,
#nextPage:hover {
  border: 1px solid #00AF92;
}
#prevPage:hover i,
#nextPage:hover i {
  color: #00AF92;
}
#prevPage:hover div,
#nextPage:hover div {
  color: rgba(0, 175, 146, 0.4);
}
#prevPage:hover .prevText,
#nextPage:hover .prevText,
#prevPage:hover .nextText,
#nextPage:hover .nextText {
  color: #00AF92;
}
#prevPage {
  text-align: right;
}
#prevPage i {
  left: 1rem;
}
#nextPage {
  text-align: left;
}
#nextPage i {
  right: 1rem;
}
.table-hover tbody tr:hover {
  color: #222;
  background-color: rgba(0, 0, 0, 0.075);
}
.theme-dark body {
  color: #9d9d9d;
  background-color: #1E1E1E;
}
.theme-dark .d-light {
  display: none;
}
.theme-dark .d-dark {
  display: block;
}
.theme-dark nav .navbar {
  color: #fff;
  background-color: #101010;
}
.theme-dark .navbar,
.theme-dark footer {
  background-color: #101010;
}
.theme-dark .navbar-toggler,
.theme-dark .navbar-toggler:focus,
.theme-dark .navbar-toggler:active {
  border-color: #474e43;
}
.theme-dark .navbar-toggler i,
.theme-dark .navbar-toggler:focus i,
.theme-dark .navbar-toggler:active i {
  color: #fff;
}
.theme-dark .navbar-nav .nav-link {
  color: #fff;
  font-style: normal;
}
.theme-dark .bg-left {
  background-color: #101010;
}
.theme-dark .version-bar a {
  color: #fff;
}
.theme-dark .version-bar a.n3 {
  color: #00AF92;
}
.theme-dark #catalog_div {
  background-color: #101010;
}
.theme-dark .catalog {
  background-color: #101010;
}
.theme-dark .catalog::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
}
.theme-dark .catalog::-webkit-scrollbar-track {
  background: transparent;
}
.theme-dark .catalog nav a,
.theme-dark .catalog nav span {
  color: #9d9d9d;
}
.theme-dark .catalog > nav > a,
.theme-dark .catalog > nav > span {
  color: #fff;
}
.theme-dark .catalog i {
  color: #474e43;
}
.theme-dark .catalog i:hover {
  background-color: #333;
  border: 1px solid #474e43;
}
.theme-dark main {
  background-color: #1E1E1E;
}
.theme-dark .side-logotext {
  border-bottom: 1px solid #333;
}
.theme-dark .side-nav {
  border-left: 1px solid #474e43;
}
.theme-dark .contribution-link {
  border: 1px solid #fff;
  color: #fff;
}
.theme-dark .contribution-link:hover {
  color: #101010;
  background-color: #fff;
}
.theme-dark .contribution-link:hover i {
  color: #101010;
}
.theme-dark .contribution-link i {
  color: #fff;
}
.theme-dark footer ul > :nth-child(n+2):before {
  border-left: 1px solid #474e43;
}
.theme-dark footer a {
  color: #00AF92;
}
.theme-dark footer a:hover {
  color: #00AF92;
}
.theme-dark .highlight {
  background-color: #2e2e2e;
}
.theme-dark .highlight pre {
  border: 1px solid #474e43;
}
.theme-dark h1 {
  border-bottom: 1px solid #333;
}
.theme-dark p code {
  color: #9d9d9d;
  background-color: rgba(255, 255, 255, 0.07);
}
.theme-dark figure code.hljs {
  max-height: 228px;
  overflow: scroll;
  padding: 53px 32px 0;
}
.theme-dark figure code.hljs::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
}
.theme-dark table.table {
  color: #9d9d9d;
}
.theme-dark .div-collapse {
  background-color: #2e2e2e;
}
.theme-dark .h2-collapse span:first-child:hover {
  color: #00AF92;
}
.theme-dark h1,
.theme-dark h2,
.theme-dark h3,
.theme-dark h4,
.theme-dark h5,
.theme-dark h6,
.theme-dark th {
  color: #fff;
}
.theme-dark .bd-callout {
  border-left: 3px solid #474e43;
  background-color: #101010;
  border: 1px solid #474e43;
  border-left-width: 0.25rem;
}
.theme-dark .bd-callout-info {
  border-left-color: #1890FF;
}
.theme-dark .bd-callout-warning {
  border-left-color: #FAAD14;
}
.theme-dark .bd-callout-danger {
  border-left-color: #FF4D4F;
  background-color: #101010;
}
.theme-dark .btn-clipboard,
.theme-dark .btn-showall {
  background-color: #1E1E1E;
  border: 1px solid #474e43;
}
.theme-dark .btn-clipboard:hover,
.theme-dark .btn-showall:hover {
  color: #000;
  background-color: #fff;
  border: 1px solid #fff;
}
.theme-dark .lightbulb {
  background-color: #333;
}
.theme-dark .anchorjs-link {
  color: rgba(0, 175, 146, 0.2);
}
.theme-dark .anchorjs-link:hover {
  color: #00AF92;
}
.theme-dark a {
  color: #00AF92;
}
.theme-dark a:hover {
  color: #00AF92;
}
.theme-dark .btn-outline-info {
  color: #17a2b8;
}
.theme-dark .btn-outline-info:hover {
  color: #fff;
}
.theme-dark .table-hover tbody tr:hover {
  color: #9d9d9d;
  background-color: rgba(255, 255, 255, 0.075);
}
.theme-dark .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #2e2e2e;
  color: #DCDCDC;
}
.theme-dark .hljs-keyword,
.theme-dark .hljs-literal,
.theme-dark .hljs-symbol,
.theme-dark .hljs-name {
  color: #569CD6;
}
.theme-dark .hljs-link {
  color: #569CD6;
  text-decoration: underline;
}
.theme-dark .hljs-built_in,
.theme-dark .hljs-type {
  color: #4EC9B0;
}
.theme-dark .hljs-number,
.theme-dark .hljs-class {
  color: #B8D7A3;
}
.theme-dark .hljs-string,
.theme-dark .hljs-meta-string {
  color: #D69D85;
}
.theme-dark .hljs-regexp,
.theme-dark .hljs-template-tag {
  color: #9A5334;
}
.theme-dark .hljs-subst,
.theme-dark .hljs-function,
.theme-dark .hljs-title,
.theme-dark .hljs-params,
.theme-dark .hljs-formula {
  color: #DCDCDC;
}
.theme-dark .hljs-comment,
.theme-dark .hljs-quote {
  color: #57A64A;
  font-style: italic;
}
.theme-dark .hljs-doctag {
  color: #608B4E;
}
.theme-dark .hljs-meta,
.theme-dark .hljs-meta-keyword,
.theme-dark .hljs-tag {
  color: #9B9B9B;
}
.theme-dark .hljs-variable,
.theme-dark .hljs-template-variable {
  color: #BD63C5;
}
.theme-dark .hljs-attr,
.theme-dark .hljs-attribute,
.theme-dark .hljs-builtin-name {
  color: #9CDCFE;
}
.theme-dark .hljs-section {
  color: gold;
}
.theme-dark .hljs-emphasis {
  font-style: italic;
}
.theme-dark .hljs-bullet,
.theme-dark .hljs-selector-tag,
.theme-dark .hljs-selector-id,
.theme-dark .hljs-selector-class,
.theme-dark .hljs-selector-attr,
.theme-dark .hljs-selector-pseudo {
  color: #D7BA7D;
}
.theme-dark .hljs-addition {
  background-color: #144212;
  display: inline-block;
  width: 100%;
}
.theme-dark .hljs-deletion {
  background-color: #600;
  display: inline-block;
  width: 100%;
}
.theme-dark .search-bar .fa-search {
  color: #fff;
}
.theme-dark .search-bar .search-de {
  color: #fff;
}
.theme-dark .search-bar .search-de:hover {
  color: #9d9d9d;
}
.theme-dark .search-bar #sInput {
  border: 1px solid #474e43;
  background: #1E1E1E;
  color: #9d9d9d;
}
.theme-dark .search-bar #sInput:focus {
  box-shadow: 0 0 5px #474e43;
}
.theme-dark .search-bar .search-re {
  box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.08);
  background: #1E1E1E;
}
.theme-dark .search-bar .search-re ul {
  background: #1E1E1E;
}
.theme-dark .search-bar .search-re ul > li a:hover {
  background-color: #1E1E1E;
}
.theme-dark .search-bar .search-re ul > li strong {
  color: #fff;
}
.theme-dark .search-bar .search-re ul > li span {
  color: rgba(255, 255, 255, 0.6);
}
.theme-dark .search-bar .search-re::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
}
.theme-dark .search-bar .search-re::-webkit-scrollbar-track {
  background: transparent;
}
.theme-dark .modal-content {
  background-color: #101010;
}
.theme-dark .modal-header {
  border-bottom-color: #1E1E1E;
}
.theme-dark .modal-footer {
  border-top-color: #1E1E1E;
}
.theme-dark #prevPage {
  border: 1px solid #474e43;
  background-color: #101010;
}
.theme-dark #prevPage i {
  color: #fff;
}
.theme-dark #prevPage div {
  color: #474e43;
}
.theme-dark #prevPage .prevText {
  color: #fff;
}
.theme-dark #nextPage {
  border: 1px solid #474e43;
  background-color: #101010;
}
.theme-dark #nextPage div {
  color: #474e43;
}
.theme-dark #nextPage i {
  color: #fff;
}
.theme-dark #nextPage .nextText {
  color: #fff;
}