@dark-link: #00AF92;
@dark-border: #474e43;
@dark-text: #9d9d9d;
@dark-logotext: #fff;
@dark-background: #1E1E1E;
@dark-background2: #101010;
@dark-catalog-hover: #333;
@dark-text-info: #1890FF;
@dark-text-warning: #FAAD14;
@dark-text-danger: #FF4D4F;
@dark-code-bg: #2e2e2e;

.theme-dark {
    body {
        color: @dark-text;
        background-color: @dark-background;
    }

    .d-light {
        display: none;
    }

    .d-dark {
        display: block;
    }

    nav .navbar {
        color: @dark-logotext;
        background-color: @dark-background2;
    }

    .navbar, footer {
        background-color: @dark-background2;
    }

    .navbar-toggler, .navbar-toggler:focus, .navbar-toggler:active {
        border-color: @dark-border;

        i {
            color: @dark-logotext;
        }
    }

    .navbar-nav {
        .nav-link {
            color: @dark-logotext;
        }
    }

    .bg-left {
        background-color: @dark-background2;
    }

    .version-bar {
        a {
            color: @dark-logotext;

            &.n3 {
                color: @dark-link;
            }
        }
    }

    #catalog_div {
        background-color: @dark-background2;
    }

    .catalog {
        background-color: @dark-background2;

        nav {
            a, span {
                color: @dark-text;
            }
        }

        & > nav {
            & > a, & > span {
                color: @dark-logotext;
            }
        }

        i {
            color: @dark-border;
        }
    }

    main {
        background-color: @dark-background;
    }

    .side-logotext {
        border-bottom: 1px solid @dark-catalog-hover;
    }

    .side-nav {
        border-left: 1px solid @dark-border;
    }

    .contribution-link {
        border: 1px solid @dark-logotext;
        color: @dark-logotext;

        &:hover {
            color: @dark-background2;
            background-color: @dark-logotext;

            i {
                color: @dark-background2;
            }
        }

        i {
            color: @dark-logotext;
        }
    }

    footer {
        ul > :nth-child(n+2):before {
            border-left: 1px solid @dark-border;
        }

        a {
            color: @dark-link;

            &:hover {
                color: @dark-link;
            }
        }
    }

    .highlight {
        background-color: @dark-code-bg;
    }

    h1 {
        border-bottom: 1px solid @dark-catalog-hover;
    }

    p code {
        color: @dark-text;
        background-color: rgba(255, 255, 255, 0.07);
    }

    figure code.hljs {
        max-height: 228px;
        overflow: scroll;
        padding: 53px 32px 0;

        &::-webkit-scrollbar-thumb {
            background: rgba(255, 255, 255, 0.15);
        }
    }

    table.table {
        color: @dark-text;
    }

    .div-collapse {
        background-color: @dark-code-bg;
    }

    .h2-collapse {
        span:first-child:hover {
            color: @dark-link;
        }
    }

    h1, h2, h3, h4, h5, h6, th {
        color: @dark-logotext;
    }

    .bd-callout {
        border-left: 3px solid @dark-border;
        background-color: @dark-background2;
    }

    .bd-callout-info {
        border-left-color: @dark-text-info;
    }

    .bd-callout-warning {
        border-left-color: @dark-text-warning;
    }

    .bd-callout-danger {
        border-left-color: @dark-text-danger;
        background-color: @dark-background2;
    }

    .btn-clipboard, .btn-showall {
        background-color: @dark-background;
        border: 1px solid @dark-border;

        &:hover {
            color: #000;
            background-color: @dark-logotext;
            border: 1px solid @dark-logotext;
        }
    }

    .lightbulb {
        background-color: @dark-catalog-hover;
    }

    .anchorjs-link {
        color: fade(@dark-link, 20%);

        &:hover {
            color: @dark-link;
        }
    }

    a {
        color: @dark-link;

        &:hover {
            color: @dark-link;
        }
    }

    .btn-outline-info {
        color: #17a2b8;

        &:hover {
            color: #fff;
        }
    }

    .table-hover tbody tr:hover {
        color: @dark-text;
        background-color: rgba(255,255,255,.075);
    }

    .hljs {
        display: block;
        overflow-x: auto;
        padding: .5em;
        background: @dark-code-bg;
        color: #DCDCDC
    }

    .hljs-keyword, .hljs-literal, .hljs-symbol, .hljs-name {
        color: #569CD6;
    }

    .hljs-link {
        color: #569CD6;
        text-decoration: underline
    }

    .hljs-built_in, .hljs-type {
        color: #4EC9B0
    }

    .hljs-number, .hljs-class {
        color: #B8D7A3
    }

    .hljs-string, .hljs-meta-string {
        color: #D69D85
    }

    .hljs-regexp, .hljs-template-tag {
        color: #9A5334
    }

    .hljs-subst, .hljs-function, .hljs-title, .hljs-params, .hljs-formula {
        color: #DCDCDC;
    }

    .hljs-comment, .hljs-quote {
        color: #57A64A;
        font-style: italic
    }

    .hljs-doctag {
        color: #608B4E
    }

    .hljs-meta, .hljs-meta-keyword, .hljs-tag {
        color: #9B9B9B;
    }

    .hljs-variable, .hljs-template-variable {
        color: #BD63C5
    }

    .hljs-attr, .hljs-attribute, .hljs-builtin-name {
        color: #9CDCFE
    }

    .hljs-section {
        color: gold
    }

    .hljs-emphasis {
        font-style: italic
    }

    .hljs-bullet, .hljs-selector-tag, .hljs-selector-id, .hljs-selector-class, .hljs-selector-attr, .hljs-selector-pseudo {
        color: #D7BA7D
    }

    .hljs-addition {
        background-color: #144212;
        display: inline-block;
        width: 100%
    }

    .hljs-deletion {
        background-color: #600;
        display: inline-block;
        width: 100%
    }
    //docs search bar
    .search-bar {
        .fa-search {
            color: @dark-logotext;
        }

        .search-de {
            color: @dark-logotext;

            &:hover {
                color: @dark-text;
            }
        }

        #sInput {
            border: 1px solid @dark-border;
            background: @dark-background;
            color: @dark-text;

            &:focus {
                box-shadow: 0 0 5px @dark-border;
            }
        }

        .search-re {
            box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.08);
            background: @dark-background;

            ul {
                background: @dark-background;

                & > li {
                    a {
                        &:hover {
                            background-color: @dark-background;
                        }
                    }

                    strong {
                        color: @dark-logotext;
                    }

                    span {
                        color: rgba(255, 255, 255, 0.6);
                    }
                }
            }

            &::-webkit-scrollbar-thumb {
                background: rgba(255, 255, 255, 0.15);
            }

            &::-webkit-scrollbar-track {
                background: transparent;
            }
        }
    }

    .modal-content {
        background-color: @dark-background2;
    }

    .modal-header {
        border-bottom-color: @dark-background;
    }

    .modal-footer {
        border-top-color: @dark-background;
    }

    #prevPage {
        border: 1px solid @dark-border;
        background-color: @dark-background2;

        i {
            color: @dark-logotext;
        }

        div {
            color: @dark-border;
        }

        .prevText {
            color: @dark-logotext;
        }
    }

    #nextPage {
        border: 1px solid @dark-border;
        background-color: @dark-background2;

        div {
            color: @dark-border;
        }

        i {
            color: @dark-logotext;
        }

        .nextText {
            color: @dark-logotext;
        }
    }
}
