<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="robots" content="index,follow">
    <meta name="author" content="neo-project">
    <meta name="application-name" content="neo.org">
    <meta name="renderer" content="ie-stand">
    <title>hightlight.js</title>
    <meta name="twitter:title" content="NEO 技术文档" />
    <meta name="twitter:description" content="NEO 技术文档" />
    <meta name="twitter:image" content="https://neo-cdn.azureedge.net/images/twitter-img.jpg" />
    <meta name="twitter:card" content="summary_large_image" />
    <link type="image/x-icon" href="https://neo-cdn.azureedge.net/images/favicon.png" rel="apple-touch-icon">
    <link type="image/x-icon" href="https://neo-cdn.azureedge.net/images/favicon.png" rel="shortcut icon">
    <link type="image/x-icon" href="https://neo-cdn.azureedge.net/images/favicon.png" rel="icon">
    <link type="image/x-icon" href="https://neo-cdn.azureedge.net/images/favicon.png" rel="bookmark" />
    <link href="https://neo-cdn.azureedge.net/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://neo-cdn.azureedge.net/lib/animate.css/animate.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/default.min.css">
    <link href="https://neo-cdn.azureedge.net/css/vs.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="body-content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/"><img class="logo" src="https://neo-cdn.azureedge.net/images/neo-logo/NEO-smart-economy-logo.svg" alt="NEO Logo" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row d-flex">
                <div class="col-12 col-md-3 col-lg-2 catalog">

                    <ul>
                        <li><a href='code.html'>hightlight.js</a></li>
                        <li><a href='faq.html'>常见问题</a></li>
                        <li><a href='index.html'>NEO Documentation</a></li>
                        <li><a href='whitepaper.html'>NEO 白皮书</a></li>
                        <li>
                            <span>a</span>
                            <ul>
                                <li><a href='a\code.html'>hightlight.js</a></li>
                            </ul>
                        </li>
                        <li>
                            <span>basic</span>
                            <ul>
                                <li><a href='basic\about.html'>关于 NEO</a></li>
                                <li><a href='basic\neocontract.html'>NeoContract 白皮书</a></li>
                                <li>
                                    <span>consensus</span>
                                    <ul>
                                        <li><a href='basic\consensus\consensus.html'>共识机制</a></li>
                                        <li><a href='basic\consensus\whitepaper.html'>一种用于区块链的拜占庭容错算法</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span>exchange</span>
                            <ul>
                                <li><a href='exchange\general.html'>交易所对接指南</a></li>
                                <li><a href='exchange\v2.10.0.html'>交易所对接指南</a></li>
                                <li><a href='exchange\v2.10.2.html'>交易所对接指南</a></li>
                                <li><a href='exchange\v2.7.6.html'>交易所对接指南</a></li>
                                <li><a href='exchange\v2.8.0.html'>交易所对接指南</a></li>
                                <li><a href='exchange\v2.9.0.html'>交易所对接指南</a></li>
                                <li><a href='exchange\v2.9.1.html'>交易所对接指南</a></li>
                                <li><a href='exchange\v2.9.2.html'>交易所对接指南</a></li>
                                <li><a href='exchange\v2.9.3.html'>交易所对接指南</a></li>
                                <li><a href='exchange\v2.9.4.html'>交易所对接指南</a></li>
                                <li>
                                    <span>assets</span>
                                    <ul></ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span>network</span>
                            <ul>
                                <li><a href='network\neolocal.html'>快速搭建本地网络</a></li>
                                <li><a href='network\network-protocol.html'>网络协议</a></li>
                                <li><a href='network\syncblocks.html'>快速同步区块数据</a></li>
                                <li><a href='network\testnet.html'>测试网</a></li>
                                <li>
                                    <span>assets</span>
                                    <ul></ul>
                                </li>
                                <li>
                                    <span>private-chain</span>
                                    <ul>
                                        <li><a href='network\private-chain\private-chain.html'>用虚拟机搭建私有链</a></li>
                                        <li><a href='network\private-chain\private-chain2.html'>快速搭建私有链</a></li>
                                        <li><a href='network\private-chain\private-chain3.html'>使用单节点搭建私有链</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span>node</span>
                            <ul>
                                <li><a href='node\introduction.html'>NEO 节点介绍</a></li>
                                <li><a href='node\plugin.html'>NEO 客户端插件</a></li>
                                <li><a href='node\python.html'>NEO-Python</a></li>
                                <li>
                                    <span>assets</span>
                                    <ul></ul>
                                </li>
                                <li>
                                    <span>cli</span>
                                    <ul>
                                        <li><a href='node\cli\apigen.html'>API 参考</a></li>
                                        <li><a href='node\cli\cli.html'>CLI 命令参考</a></li>
                                        <li><a href='node\cli\publish.html'>发布 NEO-CLI 源码</a></li>
                                        <li><a href='node\cli\seedlist.html'>NEO-CLI SeedList</a></li>
                                        <li><a href='node\cli\setup.html'>安装 NEO-CLI</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <span>gui</span>
                                    <ul>
                                        <li><a href='node\gui\asset.html'>注册与分发资产</a></li>
                                        <li><a href='node\gui\install.html'>安装</a></li>
                                        <li><a href='node\gui\other.html'>其它功能</a></li>
                                        <li><a href='node\gui\sc.html'>与智能合约交互</a></li>
                                        <li><a href='node\gui\transc.html'>交易</a></li>
                                        <li><a href='node\gui\vote.html'>选举与投票</a></li>
                                        <li><a href='node\gui\wallet.html'>钱包</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span>sc</span>
                            <ul>
                                <li><a href='sc\introduction.html'>NEO 智能合约基础知识</a></li>
                                <li><a href='sc\Parameter.html'>智能合约参数和返回值</a></li>
                                <li><a href='sc\systemfees.html'>系统使用费</a></li>
                                <li><a href='sc\trigger.html'>智能合约的触发器</a></li>
                                <li>
                                    <span>assets</span>
                                    <ul></ul>
                                </li>
                                <li>
                                    <span>quickstart</span>
                                    <ul>
                                        <li><a href='sc\quickstart\deploy-invoke.html'>部署和调用智能合约</a></li>
                                        <li><a href='sc\quickstart\getting-started-csharp-mac.html'>在 macOS 上如何用 C# 编写智能合约</a></li>
                                        <li><a href='sc\quickstart\getting-started-csharp-ubuntu.html'>在 ubuntu 上如何用 C# 编写智能合约</a></li>
                                        <li><a href='sc\quickstart\getting-started-csharp.html'>如何用 C# 编写 NEO 智能合约</a></li>
                                        <li><a href='sc\quickstart\getting-started-java.html'>如何用 Java 编写 NEO 智能合约</a></li>
                                        <li><a href='sc\quickstart\getting-started-python.html'>如何开始（neo-python）</a></li>
                                        <li><a href='sc\quickstart\limitation.html'>合约编写须知</a></li>
                                        <li><a href='sc\quickstart\overview.html'>快速入门</a></li>
                                        <li><a href='sc\quickstart\test.html'>智能合约的单元测试</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <span>reference</span>
                                    <ul>
                                        <li><a href='sc\reference\api.html'>智能合约 API 参考</a></li>
                                        <li><a href='sc\reference\fw.html'>智能合约框架</a></li>
                                        <li>
                                            <span>api</span>
                                            <ul>
                                                <li><a href='sc\reference\api\neo.html'>NEO 命名空间</a></li>
                                                <li><a href='sc\reference\api\System.html'>System 命名空间</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <span>fw</span>
                                            <ul>
                                                <li><a href='sc\reference\fw\dotnet.html'>智能合约 .net 框架</a></li>
                                                <li>
                                                    <span>dotnet</span>
                                                    <ul>
                                                        <li><a href='sc\reference\fw\dotnet\neo.html'>NEO 命名空间</a></li>
                                                        <li><a href='sc\reference\fw\dotnet\System.html'>System 命名空间</a></li>
                                                        <li>
                                                            <span>neo</span>
                                                            <ul>
                                                                <li><a href='sc\reference\fw\dotnet\neo\Account.html'>Account 类</a></li>
                                                                <li><a href='sc\reference\fw\dotnet\neo\Asset.html'>Asset 类</a></li>
                                                                <li><a href='sc\reference\fw\dotnet\neo\Block.html'>Block 类</a></li>
                                                                <li><a href='sc\reference\fw\dotnet\neo\Blockchain.html'>Blockchain 类</a></li>
                                                                <li><a href='sc\reference\fw\dotnet\neo\Contract.html'>Contract 类</a></li>
                                                                <li><a href='sc\reference\fw\dotnet\neo\Enrollment.html'>Enrollment 类</a></li>
                                                                <li><a href='sc\reference\fw\dotnet\neo\Header.html'>Header 类</a></li>
                                                                <li><a href='sc\reference\fw\dotnet\neo\Runtime.html'>Runtime 类</a></li>
                                                                <li><a href='sc\reference\fw\dotnet\neo\Storage.html'>Storage 类</a></li>
                                                                <li><a href='sc\reference\fw\dotnet\neo\StorageContext.html'>StorageContext 类</a></li>
                                                                <li><a href='sc\reference\fw\dotnet\neo\StorageContext2.html'>StorageContext 枚举</a></li>
                                                                <li><a href='sc\reference\fw\dotnet\neo\Transaction.html'>Transaction 类</a></li>
                                                                <li><a href='sc\reference\fw\dotnet\neo\TransactionAttribute.html'>TransactionAttribute 类</a></li>
                                                                <li><a href='sc\reference\fw\dotnet\neo\TransactionInput.html'>TransactionInput 类</a></li>
                                                                <li><a href='sc\reference\fw\dotnet\neo\TransactionOutput.html'>TransactionOutput 类</a></li>
                                                                <li><a href='sc\reference\fw\dotnet\neo\TriggerType.html'>TriggerType 枚举</a></li>
                                                                <li><a href='sc\reference\fw\dotnet\neo\Validator.html'>Validator 类</a></li>
                                                                <li>
                                                                    <span>Account</span>
                                                                    <ul>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Account\GetBalance.html'>Account.GetBalance 方法 (byte[])</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Account\ScriptHash.html'>Account.ScriptHash 属性</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Account\Votes.html'>Account.Votes 属性</a></li>
                                                                    </ul>
                                                                </li>
                                                                <li>
                                                                    <span>Asset</span>
                                                                    <ul>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Asset\Admin.html'>Asset.ScriptHash 属性</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Asset\Amount.html'>Asset.Amount 属性</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Asset\AssetId.html'>Asset.AssetId 属性</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Asset\AssetType.html'>Asset.AssetType 属性</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Asset\Available.html'>Asset.Available 属性</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Asset\Create.html'>Asset.CreateAsset 方法 (byte, string, long, byte, byte[], byte[], byte[])</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Asset\Issuer.html'>Asset.Issuer 属性</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Asset\Owner.html'>Asset.Owner 属性</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Asset\Precision.html'>Asset.Precision 属性</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Asset\Renew.html'>Asset.Renew 方法 (byte[])</a></li>
                                                                    </ul>
                                                                </li>
                                                                <li>
                                                                    <span>Block</span>
                                                                    <ul>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Block\GetTransaction.html'>Block.GetTransaction 方法 (int)</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Block\GetTransactionCount.html'>Block.GetTransactionCount 方法 ()</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Block\GetTransactions.html'>Block.GetTransactions 方法 ()</a></li>
                                                                    </ul>
                                                                </li>
                                                                <li>
                                                                    <span>Blockchain</span>
                                                                    <ul>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Blockchain\GetAccount.html'>Blockchain.GetAccount 方法 (byte[])</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Blockchain\GetAsset.html'>Blockchain.GetAsset 方法 (byte[])</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Blockchain\GetBlock.html'>Blockchain.GetBlock 方法 (byte[])</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Blockchain\GetBlock2.html'>Blockchain.GetBlock 方法 (uint)</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Blockchain\GetContract.html'>Blockchain.GetContract 方法 (byte[])</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Blockchain\GetHeader.html'>Blockchain.GetHeader 方法 (byte[])</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Blockchain\GetHeader2.html'>Blockchain.GetHeader 方法 (byte[])</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Blockchain\GetHeight.html'>Blockchain.GetHeight 方法 ()</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Blockchain\GetTransaction.html'>Blockchain.GetTransaction 方法 (byte[])</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Blockchain\GetValidators.html'>Blockchain.GetValidators 方法 ()</a></li>
                                                                    </ul>
                                                                </li>
                                                                <li>
                                                                    <span>Contract</span>
                                                                    <ul>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Contract\Create.html'>Contract.Create 方法 (byte[], byte[], byte, bool, string, string, string, string, string)</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Contract\Destroy.html'>Contract.Destroy 方法 ()</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Contract\Migrate.html'>Contract.Migrate 方法 (byte[], byte[], byte, bool, string, string, string, string, string)</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Contract\Script.html'>Contract.Script 属性</a></li>
                                                                    </ul>
                                                                </li>
                                                                <li>
                                                                    <span>Enrollment</span>
                                                                    <ul>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Enrollment\PublicKey.html'>Enrollment.PublicKey 属性</a></li>
                                                                    </ul>
                                                                </li>
                                                                <li>
                                                                    <span>Header</span>
                                                                    <ul>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Header\ConsensusData.html'>Header.ConsensusData 属性</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Header\Hash.html'>Header.Hash 属性</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Header\Index.html'>Header.Index 属性</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Header\MerkleRoot.html'>Header.MerkleRoot 属性</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Header\NextConsensus.html'>Header.NextConsensus 属性</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Header\PrevHash.html'>Header.Timestamp 属性</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Header\Timestamp.html'>Header.PrevHash 属性</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Header\Version.html'>Header.Version 属性</a></li>
                                                                    </ul>
                                                                </li>
                                                                <li>
                                                                    <span>Runtime</span>
                                                                    <ul>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Runtime\CheckWitness.html'>Runtime.CheckWitness 方法 (byte[])</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Runtime\Log.html'>Runtime.Log 方法 (string)</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Runtime\Notify.html'>Runtime.Notify 方法 (params object[])</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Runtime\Trigger.html'>Runtime.Trigger 属性</a></li>
                                                                    </ul>
                                                                </li>
                                                                <li>
                                                                    <span>Storage</span>
                                                                    <ul>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Storage\CurrentContext.html'>Storage.CurrentContext 属性</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Storage\Delete.html'>Storage.Delete 方法 (StorageContext, byte[])</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Storage\Delete2.html'>Storage.Delete 方法 (StorageContext, string)</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Storage\Get.html'>Storage.Get 方法 (StorageContext, byte[])</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Storage\Get2.html'>Storage.Get 方法 (StorageContext, string)</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Storage\Put.html'>Storage.Put 方法 (StorageContext, byte[], byte[])</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Storage\Put2.html'>Storage.Put 方法 (StorageContext, byte[], string)</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Storage\Put3.html'>Storage.Put 方法 (StorageContext, string, byte[])</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Storage\Put4.html'>Storage.Put 方法 (StorageContext, string, string)</a></li>
                                                                    </ul>
                                                                </li>
                                                                <li>
                                                                    <span>StorageContext</span>
                                                                    <ul>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\StorageContext\CallingContract.html'>StorageContext.CallingContract 枚举</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\StorageContext\Current.html'>StorageContext.Current 枚举</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\StorageContext\EntryContract.html'>StorageContext.EntryContract 枚举</a></li>
                                                                    </ul>
                                                                </li>
                                                                <li>
                                                                    <span>Transaction</span>
                                                                    <ul>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Transaction\GetAttributes.html'>Transaction.GetAttributes 方法 ()</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Transaction\GetInputs.html'>Transaction.GetInputs 方法 ()</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Transaction\GetOutputs.html'>Transaction.GetOutputs 方法 ()</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Transaction\GetReferences.html'>Transaction.GetReferences 方法 ()</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Transaction\Hash.html'>Transaction.Hash 属性</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Transaction\Type.html'>Transaction.Type 属性</a></li>
                                                                    </ul>
                                                                </li>
                                                                <li>
                                                                    <span>TransactionAttribute</span>
                                                                    <ul>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\TransactionAttribute\Data.html'>TransactionAttribute.Hash 属性</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\TransactionAttribute\Usage.html'>TransactionAttribute.Usage 属性</a></li>
                                                                    </ul>
                                                                </li>
                                                                <li>
                                                                    <span>TransactionInput</span>
                                                                    <ul>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\TransactionInput\PrevHash.html'>TransactionInput.PrevHash 属性</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\TransactionInput\PrevIndex.html'>TransactionInput.PrevIndex 属性</a></li>
                                                                    </ul>
                                                                </li>
                                                                <li>
                                                                    <span>TransactionOutput</span>
                                                                    <ul>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\TransactionOutput\AssetId.html'>TransactionOutput.AssetId 属性</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\TransactionOutput\ScriptHash.html'>TransactionOutput.ScriptHash 属性</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\TransactionOutput\Value.html'>TransactionOutput.Value 属性</a></li>
                                                                    </ul>
                                                                </li>
                                                                <li>
                                                                    <span>Validator</span>
                                                                    <ul>
                                                                        <li><a href='sc\reference\fw\dotnet\neo\Validator\Register.html'>Validator.Register 方法 (byte[])</a></li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <span>System</span>
                                                            <ul>
                                                                <li><a href='sc\reference\fw\dotnet\System\ExecutionEngine.html'>ExecutionEngine 类</a></li>
                                                                <li>
                                                                    <span>ExecutionEngine</span>
                                                                    <ul>
                                                                        <li><a href='sc\reference\fw\dotnet\System\ExecutionEngine\CallingScriptHash.html'>ExecutionEngine.CallingScriptHash 属性</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\System\ExecutionEngine\EntryScriptHash.html'>ExecutionEngine.EntryScriptHash 属性</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\System\ExecutionEngine\ExecutingScriptHash.html'>ExecutionEngine.ExecutingScriptHash 属性</a></li>
                                                                        <li><a href='sc\reference\fw\dotnet\System\ExecutionEngine\ScriptContainer.html'>ExecutionEngine.ScriptContainer 属性</a></li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <span>tutorial</span>
                                    <ul>
                                        <li><a href='sc\tutorial\Domain.html'>智能合约示例——Domain（域名系统）</a></li>
                                        <li><a href='sc\tutorial\HelloWorld.html'>智能合约示例——HelloWorld</a></li>
                                        <li><a href='sc\tutorial\Lock.html'>智能合约示例——Lock（锁仓合约）</a></li>
                                        <li><a href='sc\tutorial\Lock2.html'>锁仓合约示例教程</a></li>
                                        <li><a href='sc\tutorial\migrate.html'>合约迁移</a></li>
                                        <li><a href='sc\tutorial\verify.html'>鉴权合约示例</a></li>
                                        <li>
                                            <span>assets</span>
                                            <ul></ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span>utility</span>
                            <ul>
                                <li><a href='utility\explorers.html'>区块链浏览器</a></li>
                                <li>
                                    <span>sdk</span>
                                    <ul>
                                        <li><a href='utility\sdk\account.html'>NEO SDK - 账户相关用法</a></li>
                                        <li><a href='utility\sdk\format.html'>NEO SDK - 常见数据类型转换</a></li>
                                        <li><a href='utility\sdk\introduction.html'>欢迎使用 NEO SDK</a></li>
                                        <li><a href='utility\sdk\tx.html'>NEO SDK - 构造交易</a></li>
                                        <li><a href='utility\sdk\wallet.html'>NEO SDK - 钱包相关用法</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <main class="col-12 col-md-9 col-lg-8 py-2 py-md-5 pl-md-5">
                    <h1>hightlight.js</h1>
<h2>Bash</h2>
<figure class='highlight'>
<pre><code class='bash' lang='bash' data-author-content='#!/bin/bash

###### CONFIG
ACCEPTED_HOSTS=&quot;/root/.hag_accepted.conf&quot;
BE_VERBOSE=false

if [ &quot;$UID&quot; -ne 0 ]
then
 echo &quot;Superuser rights required&quot;
 exit 2
fi

genApacheConf(){
 echo -e &quot;# Host ${HOME_DIR}$1/$2 :&quot;
}'>#!/bin/bash

###### CONFIG
ACCEPTED_HOSTS=&quot;/root/.hag_accepted.conf&quot;
BE_VERBOSE=false

if [ &quot;$UID&quot; -ne 0 ]
then
 echo &quot;Superuser rights required&quot;
 exit 2
fi

genApacheConf(){
 echo -e &quot;# Host ${HOME_DIR}$1/$2 :&quot;
}
</code></pre>
</figure>
<h2>C#</h2>
<figure class='highlight'>
<pre><code class='csharp' lang='csharp' data-author-content='using System.IO.Compression;

#pragma warning disable 414, 3021

namespace MyApplication
{
    [Obsolete(&quot;...&quot;)]
    class Program : IInterface
    {
        public static List&lt;int&gt; JustDoIt(int count)
        {
            Console.WriteLine($&quot;Hello {Name}!&quot;);
            return new List&lt;int&gt;(new int[] { 1, 2, 3 })
        }
    }
}'>using System.IO.Compression;

#pragma warning disable 414, 3021

namespace MyApplication
{
    [Obsolete(&quot;...&quot;)]
    class Program : IInterface
    {
        public static List&lt;int&gt; JustDoIt(int count)
        {
            Console.WriteLine($&quot;Hello {Name}!&quot;);
            return new List&lt;int&gt;(new int[] { 1, 2, 3 })
        }
    }
}
</code></pre>
</figure>
<h2>C++</h2>
<figure class='highlight'>
<pre><code class='cpp' lang='cpp' data-author-content='#include &lt;iostream&gt;

int main(int argc, char *argv[]) {

  /* An annoying &quot;Hello World&quot; example */
  for (auto i = 0; i &lt; 0xFFFF; i++)
    cout &lt;&lt; &quot;Hello, World!&quot; &lt;&lt; endl;

  char c = &#39;\n&#39;;
  unordered_map &lt;string, vector&lt;string&gt; &gt; m;
  m[&quot;key&quot;] = &quot;\\\\&quot;; // this is an error

  return -2e3 + 12l;
}'>#include &lt;iostream&gt;

int main(int argc, char *argv[]) {

  /* An annoying &quot;Hello World&quot; example */
  for (auto i = 0; i &lt; 0xFFFF; i++)
    cout &lt;&lt; &quot;Hello, World!&quot; &lt;&lt; endl;

  char c = &#39;\n&#39;;
  unordered_map &lt;string, vector&lt;string&gt; &gt; m;
  m[&quot;key&quot;] = &quot;\\\\&quot;; // this is an error

  return -2e3 + 12l;
}
</code></pre>
</figure>
<h2>CSS</h2>
<figure class='highlight'>
<pre><code class='css' lang='css' data-author-content='@font-face {
  font-family: Chunkfive; src: url(&#39;Chunkfive.otf&#39;);
}

body, .usertext {
  color: #F0F0F0; background: #600;
  font-family: Chunkfive, sans;
}

@import url(print.css);
@media print {
  a[href^=http]::after {
    content: attr(href)
  }
}'>@font-face {
  font-family: Chunkfive; src: url(&#39;Chunkfive.otf&#39;);
}

body, .usertext {
  color: #F0F0F0; background: #600;
  font-family: Chunkfive, sans;
}

@import url(print.css);
@media print {
  a[href^=http]::after {
    content: attr(href)
  }
}
</code></pre>
</figure>
<h2>HTTP</h2>
<figure class='highlight'>
<pre><code class='http' lang='http' data-author-content='POST /task?id=1 HTTP/1.1
Host: example.org
Content-Type: application/json; charset=utf-8
Content-Length: 137

{
  &quot;status&quot;: &quot;ok&quot;,
  &quot;extended&quot;: true,
  &quot;results&quot;: [
    {&quot;value&quot;: 0, &quot;type&quot;: &quot;int64&quot;},
    {&quot;value&quot;: 1.0e+3, &quot;type&quot;: &quot;decimal&quot;}
  ]
}'>POST /task?id=1 HTTP/1.1
Host: example.org
Content-Type: application/json; charset=utf-8
Content-Length: 137

{
  &quot;status&quot;: &quot;ok&quot;,
  &quot;extended&quot;: true,
  &quot;results&quot;: [
    {&quot;value&quot;: 0, &quot;type&quot;: &quot;int64&quot;},
    {&quot;value&quot;: 1.0e+3, &quot;type&quot;: &quot;decimal&quot;}
  ]
}
</code></pre>
</figure>
<h2>Java</h2>
<figure class='highlight'>
<pre><code class='java' lang='java' data-author-content='/**
 * @author John Smith &lt;john.smith@example.com&gt;
*/
package l2f.gameserver.model;

public abstract class L2Char extends L2Object {
  public static final Short ERROR = 0x0001;

  public void moveTo(int x, int y, int z) {
    _ai = null;
    log(&quot;Should not be called&quot;);
    if (1 &gt; 5) { // wtf!?
      return;
    }
  }
}'>/**
 * @author John Smith &lt;john.smith@example.com&gt;
*/
package l2f.gameserver.model;

public abstract class L2Char extends L2Object {
  public static final Short ERROR = 0x0001;

  public void moveTo(int x, int y, int z) {
    _ai = null;
    log(&quot;Should not be called&quot;);
    if (1 &gt; 5) { // wtf!?
      return;
    }
  }
}
</code></pre>
</figure>
<h2>JavaScript</h2>
<figure class='highlight'>
<pre><code class='javascript' lang='javascript' data-author-content='function $initHighlight(block, cls) {
  try {
    if (cls.search(/\bno\-highlight\b/) != -1)
      return process(block, true, 0x0F) +
             ` class=&quot;${cls}&quot;`;
  } catch (e) {
    /* handle exception */
  }
  for (var i = 0 / 2; i &lt; classes.length; i++) {
    if (checkCondition(classes[i]) === undefined)
      console.log(&#39;undefined&#39;);
  }

  return (
    &lt;div&gt;
      &lt;web-component&gt;{block}&lt;/web-component&gt;
    &lt;/div&gt;
  )
}

export  $initHighlight;'>function $initHighlight(block, cls) {
  try {
    if (cls.search(/\bno\-highlight\b/) != -1)
      return process(block, true, 0x0F) +
             ` class=&quot;${cls}&quot;`;
  } catch (e) {
    /* handle exception */
  }
  for (var i = 0 / 2; i &lt; classes.length; i++) {
    if (checkCondition(classes[i]) === undefined)
      console.log(&#39;undefined&#39;);
  }

  return (
    &lt;div&gt;
      &lt;web-component&gt;{block}&lt;/web-component&gt;
    &lt;/div&gt;
  )
}

export  $initHighlight;
</code></pre>
</figure>
<h2>JSON</h2>
<figure class='highlight'>
<pre><code class='json' lang='json' data-author-content='[
  {
    &quot;title&quot;: &quot;apples&quot;,
    &quot;count&quot;: [12000, 20000],
    &quot;description&quot;: {&quot;text&quot;: &quot;...&quot;, &quot;sensitive&quot;: false}
  },
  {
    &quot;title&quot;: &quot;oranges&quot;,
    &quot;count&quot;: [17500, null],
    &quot;description&quot;: {&quot;text&quot;: &quot;...&quot;, &quot;sensitive&quot;: false}
  }
]'>[
  {
    &quot;title&quot;: &quot;apples&quot;,
    &quot;count&quot;: [12000, 20000],
    &quot;description&quot;: {&quot;text&quot;: &quot;...&quot;, &quot;sensitive&quot;: false}
  },
  {
    &quot;title&quot;: &quot;oranges&quot;,
    &quot;count&quot;: [17500, null],
    &quot;description&quot;: {&quot;text&quot;: &quot;...&quot;, &quot;sensitive&quot;: false}
  }
]
</code></pre>
</figure>
<h2>Markdown</h2>
<figure class='highlight'>
<pre><code class='markdown' lang='markdown' data-author-content='# hello world

you can write text [with links](http://example.com) inline or [link references][1].

* one _thing_ has *em*phasis
* two __things__ are **bold**

[1]: http://example.com

---

hello world
===========

&lt;this_is inline=&quot;xml&quot;&gt;&lt;/this_is&gt;

&gt; markdown is so cool

    so are code segments

1. one thing (yeah!)
2. two thing `i can write code`, and `more` wipee!'># hello world

you can write text [with links](http://example.com) inline or [link references][1].

* one _thing_ has *em*phasis
* two __things__ are **bold**

[1]: http://example.com

---

hello world
===========

&lt;this_is inline=&quot;xml&quot;&gt;&lt;/this_is&gt;

&gt; markdown is so cool

    so are code segments

1. one thing (yeah!)
2. two thing `i can write code`, and `more` wipee!
</code></pre>
</figure>
<h2>PHP</h2>
<figure class='highlight'>
<pre><code class='php' lang='php' data-author-content='require_once &#39;Zend/Uri/Http.php&#39;;

namespace Location\Web;

interface Factory
{
    static function _factory();
}

abstract class URI extends BaseURI implements Factory
{
    abstract function test();

    public static $st1 = 1;
    const ME = &quot;Yo&quot;;
    var $list = NULL;
    private $var;

    /**
     * Returns a URI
     *
     * @return URI
     */
    static public function _factory($stats = array(), $uri = &#39;http&#39;)
    {
        echo __METHOD__;
        $uri = explode(&#39;:&#39;, $uri, 0b10);
        $schemeSpecific = isset($uri[1]) ? $uri[1] : &#39;&#39;;
        $desc = &#39;Multi
line description&#39;;

        // Security check
        if (!ctype_alnum($scheme)) {
            throw new Zend_Uri_Exception(&#39;Illegal scheme&#39;);
        }

        $this-&gt;var = 0 - self::$st;
        $this-&gt;list = list(Array(&quot;1&quot;=&gt; 2, 2=&gt;self::ME, 3 =&gt; \Location\Web\URI::class));

        return [
            &#39;uri&#39;   =&gt; $uri,
            &#39;value&#39; =&gt; null,
        ];
    }
}

echo URI::ME . URI::$st1;

__halt_compiler () ; datahere
datahere
datahere */
datahere'>require_once &#39;Zend/Uri/Http.php&#39;;

namespace Location\Web;

interface Factory
{
    static function _factory();
}

abstract class URI extends BaseURI implements Factory
{
    abstract function test();

    public static $st1 = 1;
    const ME = &quot;Yo&quot;;
    var $list = NULL;
    private $var;

    /**
     * Returns a URI
     *
     * @return URI
     */
    static public function _factory($stats = array(), $uri = &#39;http&#39;)
    {
        echo __METHOD__;
        $uri = explode(&#39;:&#39;, $uri, 0b10);
        $schemeSpecific = isset($uri[1]) ? $uri[1] : &#39;&#39;;
        $desc = &#39;Multi
line description&#39;;

        // Security check
        if (!ctype_alnum($scheme)) {
            throw new Zend_Uri_Exception(&#39;Illegal scheme&#39;);
        }

        $this-&gt;var = 0 - self::$st;
        $this-&gt;list = list(Array(&quot;1&quot;=&gt; 2, 2=&gt;self::ME, 3 =&gt; \Location\Web\URI::class));

        return [
            &#39;uri&#39;   =&gt; $uri,
            &#39;value&#39; =&gt; null,
        ];
    }
}

echo URI::ME . URI::$st1;

__halt_compiler () ; datahere
datahere
datahere */
datahere
</code></pre>
</figure>
<h2>Shell Session</h2>
<figure class='highlight'>
<pre><code class='shell' lang='shell' data-author-content='$ echo $EDITOR
vim
$ git checkout master
Switched to branch &#39;master&#39;
Your branch is up-to-date with &#39;origin/master&#39;.
$ git push
Everything up-to-date
$ echo &#39;All
&gt; done!&#39;
All
done!'>$ echo $EDITOR
vim
$ git checkout master
Switched to branch &#39;master&#39;
Your branch is up-to-date with &#39;origin/master&#39;.
$ git push
Everything up-to-date
$ echo &#39;All
&gt; done!&#39;
All
done!
</code></pre>
</figure>
<h2>SQL</h2>
<figure class='highlight'>
<pre><code class='sql' lang='sql' data-author-content='CREATE TABLE &quot;topic&quot; (
    &quot;id&quot; serial NOT NULL PRIMARY KEY,
    &quot;forum_id&quot; integer NOT NULL,
    &quot;subject&quot; varchar(255) NOT NULL
);
ALTER TABLE &quot;topic&quot;
ADD CONSTRAINT forum_id FOREIGN KEY (&quot;forum_id&quot;)
REFERENCES &quot;forum&quot; (&quot;id&quot;);

-- Initials
insert into &quot;topic&quot; (&quot;forum_id&quot;, &quot;subject&quot;)
values (2, &#39;D&#39;&#39;artagnian&#39;);'>CREATE TABLE &quot;topic&quot; (
    &quot;id&quot; serial NOT NULL PRIMARY KEY,
    &quot;forum_id&quot; integer NOT NULL,
    &quot;subject&quot; varchar(255) NOT NULL
);
ALTER TABLE &quot;topic&quot;
ADD CONSTRAINT forum_id FOREIGN KEY (&quot;forum_id&quot;)
REFERENCES &quot;forum&quot; (&quot;id&quot;);

-- Initials
insert into &quot;topic&quot; (&quot;forum_id&quot;, &quot;subject&quot;)
values (2, &#39;D&#39;&#39;artagnian&#39;);
</code></pre>
</figure>
<h2>HTML, XML</h2>
<figure class='highlight'>
<pre><code class='html' lang='html' data-author-content='&lt;!DOCTYPE html&gt;
&lt;title&gt;Title&lt;/title&gt;

&lt;style&gt;body {width: 500px;}&lt;/style&gt;

&lt;script type=&quot;application/javascript&quot;&gt;
  function $init() {return true;}
&lt;/script&gt;

&lt;body&gt;
  &lt;p checked class=&quot;title&quot; id=&#39;title&#39;&gt;Title&lt;/p&gt;
  &lt;!-- here goes the rest of the page --&gt;
&lt;/body&gt;'>&lt;!DOCTYPE html&gt;
&lt;title&gt;Title&lt;/title&gt;

&lt;style&gt;body {width: 500px;}&lt;/style&gt;

&lt;script type=&quot;application/javascript&quot;&gt;
  function $init() {return true;}
&lt;/script&gt;

&lt;body&gt;
  &lt;p checked class=&quot;title&quot; id=&#39;title&#39;&gt;Title&lt;/p&gt;
  &lt;!-- here goes the rest of the page --&gt;
&lt;/body&gt;
</code></pre>
</figure>
                </main>
                <div class="col-12 d-md-none d-lg-block col-lg-2"></div>
            </div>
        </div>
    </div>
    <footer class="text-center p-5">
        <ul>
            <li><a href="https://github.com/neo-project/docs" title="GitHub" target="_blank">GitHub</a></li>
            <li><a href="https://github.com/neo-project/docs/issues" title="Issue" target="_blank">Issue</a></li>
            <li><a href="https://discord.io/neo" title="Discord" target="_blank">Discord</a></li>
        </ul>
        <p>Build by <a href="https://github.com/chenzhitong/NeoDocsBuilder" title="NeoDocsBuilder" target="_blank">NeoDocsBuilder</a></p>
        <p>Licensed under <a href="https://github.com/neo-project/docs/blob/master/LICENSE" title="CC-BY-4.0" target="_blank">CC-BY-4.0</a> license. </p>
        <img class="logo" src="https://neo-cdn.azureedge.net/images/neo-logo/NEO-logo.svg" alt="NEO Logo" />
    </footer>
    <script src="https://neo-cdn.azureedge.net/lib/jquery/jquery.min.js"></script>
    <script src="https://neo-cdn.azureedge.net/lib/popper.js/popper.min.js"></script>
    <script src="https://neo-cdn.azureedge.net/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://neo-cdn.azureedge.net/js/jquery.lazyload.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
        $('[data-original]').lazyload({
            threshold: 200,
            effect: "fadeIn"
        });
    </script>
</body>
</html>
